# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

logs
!/logs/.gitkeep
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Caches

.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

pids
_.pid
_.seed
*.pid.lock


# Compiled binary addons (https://nodejs.org/api/addons.html)

build/Release

# Dependency directories

node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)

web_modules/

# TypeScript cache

*.tsbuildinfo

# Optional npm cache directory

.npm

# Optional eslint cache

.eslintcache

# Output of 'npm pack'

*.tgz

# dotenv environment variable files

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

config.yaml
compose.yaml

# build

build
dist
out
output
generated

.docusaurus

# Finder (MacOS) folder config
.DS_Store
