services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mqtt-broker
    ports:
      - "1883:1883" # MQTT port
      - "9001:9001" # WebSocket port
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    restart: unless-stopped
    networks:
        - mqtt-broker

  service:
    image: serivce:${TAG:-latest}
    build: .
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - ./configs/config.yaml:/app/configs/config.yaml
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "20"

  postgres:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    shm_size: 128mb
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin

volumes:
  postgres-data:

networks:
  mqtt-broker:
